.espacio{
	margin-top: 95px;
}

.titulos{
	color: black;
}

.contenidoTabla{

  text-align: center;
  

}

.contenidoResultado{

  text-align: left;

}

.tituloTabla{
	color:#2897D2;

}

.titulosMenu{
	color: #AAB7B8;

}

.azul{
	background-color: red;
	color: #2897D2;
}